<!-- views/order-success.ejs -->
<%- include('partials/header') %>
<link rel="stylesheet" href="/css/order-success.css">
<div class="order-success-container">
    <h1>Order Placed Successfully!</h1>
    <p>Thank you for your order. You will receive a confirmation email shortly.</p>
  
    <a href="/">Return to Homepage</a>
  </div>
  
  
  
